html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #DDDCE3;
  margin: 0;
  display: flex;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  align-items: center;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #f6f6f6;
  display: none;
}

#overlay-loader {
  position: absolute;
  width: 100%;
  top: calc(50% - 20px);
  z-index: 200;
  text-align: center;
}

#overlay-image {
  height: 100%;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#overlay-image div {
  height: 80%;
  width: 80%;
  background: url(/images/transparent.png?978c1bee49d7ad5fc1a4d81099b13e18) center center/contain no-repeat;
  position: static;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}

.card {
  display: flex;
  overflow-x: auto;
}

.card--content {
  position: relative;
}

.card--content img {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding-left: 40px;
}

.card--content img:hover {
  cursor: pointer;
}

#animation-wrapper {
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#animation-wrapper.debug {
  overflow: scroll;
}

.animate {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: moveSlideshow 120s linear infinite;
          animation: moveSlideshow 120s linear infinite;
}

@-webkit-keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.number {
  position: absolute;
  bottom: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  opacity: 0.6;
  background: #ccc;
  padding: 10px;
  z-index: 3;
}

.card {
  height: 700px;
}

.card--content img.landscapeLarge {
  height: 700px;
  width: 1050px;
}

.card--content img.portraitLarge {
  height: 700px;
  width: 467px;
}

.card--content img.landscapeMediumLarge,
.card--content img.portraitMediumLarge {
  height: 620px;
  padding: 40px 0 0 40px;
}

.card--content img.landscapeMedium {
  height: 460px;
  padding: 120px 0 0 40px;
}

.card--content img.portraitMedium {
  height: 540px;
  padding: 80px 0 0 40px;
}

.card--content img.landscapeSmall {
  height: 360px;
  padding: 170px 0 0 40px;
}

.card--content img.portraitSmall {
  height: 480px;
  padding: 120px 0 0 40px;
}

.card--content img.landscapeSupersmall {
  height: 460px;
  padding: 120px 0 0 40px;
}

.card--content img.portraitSupersmall {
  height: 360px;
  padding: 170px 0 0 40px;
}

.card--content img.landscapeBottom {
  position: absolute;
  width: 400px;
  height: auto;
  bottom: 40px;
  left: -220px;
  z-index: 2;
}

.card--content img.landscapeMiddle {
  position: absolute;
  width: 400px;
  height: auto;
  top: 216px;
  left: -220px;
  z-index: 2;
}

.card--content img.landscapeTop {
  position: absolute;
  width: 400px;
  height: auto;
  top: 40px;
  left: -220px;
  z-index: 2;
}

.number {
  left: 40px;
}

