@mixin theme($defaultHeight, $defaultLandscapeWidth, $defaultPortraitWidth, $defaultSpacing) {
    .card {
        height: $defaultHeight;
    }
    .card--content img {
        padding-left: $defaultSpacing;
        &.landscapeLarge {
            height: $defaultHeight;
            width: $defaultLandscapeWidth;
        }
        &.portraitLarge {
            height: $defaultHeight;
            width: $defaultPortraitWidth;
        }
        &.landscapeMediumLarge,
        &.portraitMediumLarge {
            height: $defaultHeight - $defaultSpacing*2;
            padding: $defaultSpacing 0 0 $defaultSpacing;
        }
        &.landscapeMedium {
            height: $defaultHeight - $defaultSpacing*6;
            padding: $defaultSpacing*3 0 0 $defaultSpacing;
        }
        &.portraitMedium {
            height: $defaultHeight - $defaultSpacing*4;
            padding: $defaultSpacing*2 0 0 $defaultSpacing;
        }
        &.landscapeSmall {
            height: $defaultHeight - 340;
            padding: $defaultSpacing*4+10 0 0 $defaultSpacing;
        }
        &.portraitSmall {
            height: $defaultHeight - $defaultSpacing*5 - 20;
            padding: 120px 0 0 $defaultSpacing;
        }
        &.landscapeSupersmall {
            height: $defaultHeight - $defaultSpacing*6;
            padding: $defaultSpacing*3 0 0 $defaultSpacing;
        }
        &.portraitSupersmall {
            height: $defaultHeight - $defaultSpacing*8 - 20;
            padding: 170px 0 0 $defaultSpacing;
        }
        &.landscapeBottom {
            position: absolute;
            width: $defaultHeight - 300;
            height: auto;
            bottom: $defaultSpacing;
            left: -(($defaultHeight - 300) / 2) - 20;
            z-index: 2;
        }
        &.landscapeMiddle {
            position: absolute;
            width: $defaultHeight - 300;
            height: auto;
            top: $defaultHeight/2 - 134;
            left: -(($defaultHeight - 300) / 2) - 20;
            z-index: 2;
        }
        &.landscapeTop {
            position: absolute;
            width: $defaultHeight - 300;
            height: auto;
            top: $defaultSpacing;
            left: -(($defaultHeight - 300) / 2) - 20;
            z-index: 2
        }
    }
    .number {
        left: $defaultSpacing;
    }
}
