html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #DDDCE3;
    margin: 0;
    display: flex;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    align-items: center;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgb(246, 246, 246);
    display: none;
}

#overlay-loader {
    position: absolute;
    width: 100%;
    top: calc(50% - 20px);
    z-index: 200;
    text-align: center;
}

#overlay-image {
    height: 100%;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#overlay-image div {
    height: 80%;
    width: 80%; // margin: 10% 0 0 10%;
    background: url(../public/img/transparent.png) center center / contain no-repeat;
    position: static;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
}

.card {
    display: flex;
    overflow-x: auto;
}

.card--content {
    position: relative;
}

.card--content img {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card--content img:hover {
    cursor: pointer;
}

#animation-wrapper {
    // margin-top: 5%;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#animation-wrapper.debug {
    overflow: scroll;
}

.animate {
    transform: translate3d(0, 0, 0);
    animation: moveSlideshow 120s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-100%);
    }
}

.paused {
    animation-play-state: paused;
}

.number {
    position: absolute;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    opacity: 0.6;
    background: #ccc;
    padding: 10px;
    z-index: 3
}

$defaultHeight: 700px;
$defaultLandscapeWidth: 1050px;
$defaultPortraitWidth: 467px;
$defaultSpacing: 40px;
// $defaultHeight: 1000px;
// $defaultLandscapeWidth: 1540px;
// $defaultPortraitWidth: 667px;
// $defaultSpacing: 40px;

@import 'themes.scss';
