.landscapeLarge {
    height: $defaultHeigth;
    width: $defaultLandscapeWidth;
}

.portraitLarge {
    height: $defaultHeigth;
    width: $defaultPortraitWidth;
}

.landscapeMedium,
.portraitMedium {
    height: $defaultHeigth - $defaultSpacing*2;
    padding: $defaultSpacing 0 0 $defaultSpacing;
}

.landscapeSmall,
.portraitSmall {
    height: 480px;
    padding: 120px 0 0 $defaultSpacing;
}

.landscapeSupersmall,
.portraitSupersmall {
    height: 360px;
    padding: 170px 0 0 $defaultSpacing;
}

.landscapeBottom {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: $defaultSpacing;
    left: -270px;
    z-index: 2;
}

.landscapeTop {
    position: absolute;
    width: 500px;
    height: auto;
    top: $defaultSpacing;
    left: -270px;
    z-index: 2
}
